* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
}

.Button {
  height: 30px;
  border: 1px solid rgb(0, 130, 202);
  border-radius: 6px;
  width: 100%;
  text-transform: uppercase;
  color: white;
  background: rgb(0, 130, 202);
  letter-spacing: 0.1em;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
}
